<script type="text/javascript">

    var js_mails = [];

    function markSpam(i) {
        js_mails[i] = 0;
        removeFromList(i);
    }

    function markSafe(i) {
        js_mails[i] = 1;
        removeFromList(i);
    }

    var removed = 0;

    var levelAtla = function () { // Just Mahmut things
        nextLevel(3);
    }

    var removeFromList = function (i) {
        $mail_div = $("#mail_" + i);
        var answers = [
            0, 0, 1, 0, 1,
        ];
        var is_true = js_mails[i] == answers[i];
        if(is_true) {
            $mail_div.find('.panel-heading').css('background-color', 'rgba(0, 200, 0, 0.5)');
        } else {
            $mail_div.find('.panel-heading').css('background-color', 'rgba(200, 0, 0, 0.5)');
        }
        
        setTimeout(function() {
            $mail_div.fadeOut(250, function () {
                $mail_div.hide();
                removed++;
                if(removed >= 6) {
                    levelAtla();
                }
            });
            if (removed >= 4) {
                nextLevel(3);
            }
        }, 1000);
    }
</script>

<div id="pre-level">
    <img src="../assets/images/dialog-lvlmail.png" alt="">

    <div class="btn btn-default" onclick="getIntoLevel()">Hemen Başla!</div>
</div>
<div id="level">
    <div class="checkout-wrap">
        <ul class="checkout-bar">
            <li class="visited first">
                <a href="#"></a>
            </li>
            <li class="visited previous"></li>
            <li class="active"></li>
            <li class="next"></li>
        </ul>
    </div>
    <div class="panel panel-default level-1">
        <div class="panel-heading">
            <h1><b>Seviye 3: Tertemiz bir e-posta kutusu</b></h1>

            <h2>Görev: Nebahat Teyzenin e-posta kutusunu spam'lerden kurtar.</h2>

            <p>Spam(İstenmeyen) mailler genellikle kişisel bilgilerinizi çalmak amacıyla gönderilir. TODO: insert more
                info here!</p>
        </div>
        <input type="hidden" id="levelCode" value="94028402">

        <div class="panel-body">
            <ul id="mail-list">
                <div class="panel panel-default" id="mail_0">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                <div class="mail-sender"><b>I6 Promotion</b></div>
                                <div class="mail-title">İPHONE 6 KAZANDINIZ, ALMAK İÇİN TIKLAYIN</div>
                                <div class="btn btn-danger mark-as-spam" onclick="markSpam(0);">
                                    <i class="fa fa-times"></i>
                                    Spam Olarak İşaretle
                                </div>
                                <div class="btn btn-success mark-as-safe" onclick="markSafe(0);">
                                    <i class="fa fa-check"></i>
                                    Spam Değil
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </h4>
                    </div>

                </div>
                <div class="panel panel-default" id="mail_1">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                               aria-expanded="true" aria-controls="collapseTwo">
                                <div class="mail-sender"><b>Kazanç Fırsatı</b></div>
                                <div class="mail-title">Acil: BİR MİLYON DOLAR!!!</div>
                                <div class="btn btn-danger mark-as-spam" onclick="markSpam(1);">
                                    <i class="fa fa-times"></i>
                                    Spam Olarak İşaretle
                                </div>
                                <div class="btn btn-success mark-as-safe" onclick="markSafe(1);">
                                    <i class="fa fa-check"></i>
                                    Spam Değil
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </h4>
                    </div>

                </div>


                <div class="panel panel-default" id="mail_2">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                               aria-expanded="true" aria-controls="collapseThree">
                                <div class="mail-sender"><b>Eset Antivirus</b></div>
                                <div class="mail-title">Üyeliğinizi onaylamak için lütfen inceleyin.</div>
                                <div class="btn btn-danger mark-as-spam" onclick="markSpam(2);">
                                    <i class="fa fa-times"></i>
                                    Spam Olarak İşaretle
                                </div>
                                <div class="btn btn-success mark-as-safe" onclick="markSafe(2);">
                                    <i class="fa fa-check"></i>
                                    Spam Değil
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </h4>
                    </div>

                </div>


                <div class="panel panel-default" id="mail_3">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour"
                               aria-expanded="true" aria-controls="collapseFour">
                                <div class="mail-sender"><b>Ücretsiz Fal</b></div>
                                <div class="mail-title">Bu Şaşırtıcı Bedava Fal Kaderinizin Akışını Değiştirebilir.
                                </div>
                                <div class="btn btn-danger mark-as-spam" onclick="markSpam(3);">
                                    <i class="fa fa-times"></i>
                                    Spam Olarak İşaretle
                                </div>
                                <div class="btn btn-success mark-as-safe" onclick="markSafe(3);">
                                    <i class="fa fa-check"></i>
                                    Spam Değil
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </h4>
                    </div>

                </div>


                <div class="panel panel-default" id="mail_4">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive"
                               aria-expanded="true" aria-controls="collapseFive">
                                <div class="mail-sender"><b>Oğluşum</b></div>
                                <div class="mail-title">Annecim fotoğrafları ekte yolladım, sevgiler.</div>
                                <div class="btn btn-danger mark-as-spam" onclick="markSpam(4);">
                                    <i class="fa fa-times"></i>
                                    Spam Olarak İşaretle
                                </div>
                                <div class="btn btn-success mark-as-safe" onclick="markSafe(4);">
                                    <i class="fa fa-check"></i>
                                    Spam Değil
                                </div>
                                <div class="clearfix"></div>
                            </a>
                        </h4>
                    </div>

                </div>


            </ul>
        </div>
    </div>
</div>
