<div id="pre-level">
    <img src="../assets/images/dialog-lvlpswrd.png" alt="">

    <div class="btn btn-default" onclick="getIntoLevel()">Hemen Başla!</div>
</div>
<div id="level">
    <div class="checkout-wrap">
        <ul class="checkout-bar">
            <li class="active first">
                <a href="#"></a>
            </li>
            <li class="next"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="panel panel-default level-1">
        <div class="panel-heading">
            <h1><b>Seviye 1: Güçlü Bir Şifre</b></h1>

            <h2>Görev: Nebahat Teyzenin güçlü bir şifre tanımlamasına yardımcı ol.</h2>
        </div>
        <input type="hidden" id="levelCode" value="12973284">
        <div class="panel-body">
            <div class="password-group">
                <div class="password-group-upper-text">
                    <p>Güçlü bir parola oluşturmak hesabınızın korunmasının en önemli adımıdır. Kısa ya da sık
                        kullanılan kombinasyonlardan oluşan parolaların deneme yanılma yolu ile ele geçirilmesi çok
                        kolaydır</p>
                    <ul style="margin-left:0px; padding-left:0px;">
                        Güçlü parola:
                        <li>En az 8 karakterden oluşmalıdır.</li>
                        <li>Büyük harf, küçük harf, rakam ve noktalama içermelidir.</li>
                        <li>"123456" gibi ya da "aaaaaa" gibi kombinasyonlardan kaçınılmalıdır.</li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <hr>
                <input type="password" id="password"/>

                <div id="password-strength">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                             aria-valuemax="100" style="width: 0%;"></div>

                    </div>
                </div>
                Şifre güvenliği: <span id="password-strength-text"></span>

                <div class="clearfix"></div>
            </div>
            <div class="btn btn-primary next-button" onclick="nextLevel(1)">İleri</div>
        </div>
    </div>
</div>