<div id="pre-level">
    <img src="../assets/images/dialog-lvldownload.png" alt="">
    <div class="btn btn-default" onclick="getIntoLevel()">Hemen Başla!</div>
</div>
<div id="level">
    <div class="panel panel-default level-1">
        <div class="panel-heading">
            <h1><b>Seviye 2: İnternette Güvenli Dolaşmak</b></h1>
            <h2>Görev: Nebahat teyzenin bir blog yazısından düzgünce içerik indirmesini sağlamak.</h2>
        </div>
        <input type="hidden" id="levelCode" value="2xdnf2yncfdsn10tn1230nt12n3nbgasdmn1293n214">
        <div class="panel-body">
            <div class="btn btn-primary next-button" onclick="nextLevel()">İleri</div>
        </div>
    </div>
</div>