<div id="pre-level">
    <img src="../assets/images/dialog-lvldownload.png" alt="">
    <div class="btn btn-default" onclick="getIntoLevel()">Hemen Başla!</div>
</div>
<div id="level">
    <div class="panel panel-default level-2">
        <div class="panel-heading">
            <h1><b>Seviye 2: İnternette Güvenli Dolaşmak</b></h1>
            <h2>Görev: Nebahat teyzenin bir blog yazısından düzgünce içerik indirmesini sağlamak.</h2>
        </div>
        <input type="hidden" id="levelCode" value="28502505">
        <div class="panel-body" style="text-align:left;">
            <div class="row">
                <div class="col-xs-3">
                    <h1 style="font-size:35px; border:3px solid black; padding:10px; margin:0;"><b>YEMEK<br>TARİFLERİ</b></h1>
                </div>
                <div class="col-xs-9">
                    <img src="../assets/images/banner/728-60.png" style="width:100%; margin-bottom:20px;">
                </div>
            </div>
            <div class="row">
                <div class="col-xs-9">
                    Merhabalar Sevgili Dostlar,
                    <br><br>Bu aralar bolca buğdaylı tarifim var :) Bunlardan ilki keşkek. Keşkeği ilk defa 11-12 yıl önce Manisa’nın bir ilçesinde tatmıştım. Bizim düğünlerde ve sünnetlerde pasta – limonata ikram edilir ama oralarda keşkek yapılırmış. İlk başta görünüsü bir garip gelse de tadına baktığımda çok beğenmiştim.
                    <br><br>Keşkek aslında yapımı oldukça zahmetli bir yemektir. Bayram, düğün ya da sünnet gibi kutlamalarda yapıldığı için kocaman kazanlar içinde kaynatılır. Öyle ki Manisa’da damadın sağdıcı bu kazanların üzerinde oynatılır.
                    keskek
                    <br><br>Yıllar içinde etlisi, hindilisi derken bir çok farklı tarif ile yapıldığını gördüm. Bazıları yörelerde içine soğan ve nohut da ekleniyor. Ben nohutu çok yakıştırıyorum.
                    <br><br>Bu tarifin sahibi sevgili Seda’nın annesi. Ne zaman istanbul’a gelse bizim için keşkek kaynatır, bende eğer yetişebilirsem tavukları didiklemesine ve buğdayları dövmesine yardım ederim :)
                    Yakında nohutlusunu ve etlisini de evde deneyeceğim.
                    <br><br>Sevgiler…
                    <img src="../assets/images/banner/anabilet.gif" style="width:100%;">
                    <br>Malzemeler:
                    <ul>
                        <li>500 gr aşurelik buğday</li>
                        <li>2 adet kalçalı tavuk budu</li>
                        <li>Haşlamak ve buğdayları ıslatmak için su</li>
                        <li>tuz</li>
                        <li>karabiber</li>
                        <li>Üzeri için:</li>
                        <li>kırmızı toz biber</li>
                        <li>Terayağı ya da sıvıyağ</li>
                        <li>Yapılışı:</li>
                        <li>Buğdayları 3-4 saat önce sıcak su ile ıslatın. Tavuklar ayrı tencereye alıp bol su ile haşlayın. (Haşlama suyunu kenara ayırın)</li>
                        <li>Haşladığınız tavukların derilerini ve kemiklerini ayırıp ince ince didikleyin.</li>
                        <li>Buğdayları geniş bir tencereye alıp üzerini 4 parmak geçecek kadar sıcak su ekleyin. Kaynamaya başlayınca kısık ateşte pişmeye bırakın.</li>
                        <li>Buğday suyunu çektikçe üzerine ayırdığınız tavuğun suyundan ekleyin.</li>
                        <li>Buğdaylar pişip patlamaya başlayınca 10 dk kadar tahta kaşıkla ezerek karıştırın.</li>
                        <li>Macunlaşmaya başlayan keşkeği tuz ve biber ekleyerek lezzetlendirin.</li>
                        <li>Didiklediğiniz tavuk etlerini ilave ederek yarım saat daha arada karıştırılarak pişirin.</li>
                        <li>Kırmızı toz biber ve yağı kızdırıp üzerine dökerek servis edin.</li>
                        <span style="color:blue;">Tarifi indirmek için <a href="#" onclick="nextLevel()">tıklayınız.</a></span>
                    </ul>
                </div>
                <div class="col-xs-3">
                    <img src="../assets/images/banner/adobe-flash-virus.jpg" style="width:100%;">
                    <img src="../assets/images/banner/indir-tıkla.png" style="width:100%;">
                </div>
            </div>
        </div>
    </div>
</div>