<div class="panel panel-default level-1">
	<div class="panel-heading">Yis</div>
    <input type="hidden" id="levelCode" value="123nds90213sdn120fn1023nfasdsdiasd239kv">
	<div class="panel-body">
		Nebahat Teyze'nin şifresini oluşturmasına yardımcı ol!<br><br>
		<form>
            <fieldset>
                <legend>Please type in your password</legend>
                Pass: <input type="password" id="password" />
                <div id="password-strength">
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                    </div>
                </div>
            </fieldset>
        </form>
        <div class="btn btn-primary" onclick="nextLevel()">İleri</div>
	</div>
</div>