* {
	font-family: 'Open Sans';
}
a {
	color:black;
}
a:hover {
	background-color:transparent !important;
}
#navbar {
	height:100px !important;
}
#navbar ul {
	margin-top:20px;
}
#level-container {
	position:relative;
	width:100%;
	margin-top:50px;
}
.username {
	color:white;
	font-size:20px;
}
span.caret {
	font-size:20px;
	color:white;
}
body {
  padding-top: 50px;
  height:100%;
}
.main-mid {
	width:800px;
	margin:0 auto;
}
.social-media {
	margin:0 auto;
	margin-top:150px;
}
.btn-social {
	vertical-align:middle;
	padding: 10px 20px;
	line-height:50px;
	font-size:20px;
	width:345px;
}
.btn-social i, .btn-social b {
	float:left;
}
.btn-social b {
	font-size:20px;
	margin-left:10px;
}
.btn-social i {
	margin-top:5px;
}
.main-mid .btn-facebook {
	float:left;
	margin-left:50px;
	background-color:#3C5A99;
}
.main-mid .btn-twitter {
	float:left;
	margin-left:10px;
	background-color:#6CADDF;
}
.main-aunt-container {
  padding: 40px 15px;
  text-align: center;
  margin-left:50%;
  margin-top:200px;
  position: relative;
}
.main-aunt-container img {
	width:1200px;
	height:600px;
}
#main-aunt {
	position:absolute;
	width:0px;
	height:0px;
}
.main-mid img {
	position:absolute;
	left:0;
	top:0;
}
h1 {
	font-size:70px;
}
h2 {
	font-size:40px;
}
body {
	background: -webkit-radial-gradient(#0D545B, #16838C, #0D545B); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#0D545B, #16838C, #0D545B); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#0D545B, #16838C, #0D545B); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#0D545B, #16838C, #0D545B); /* Standard syntax */
	background-repeat:no-repeat;
	background-size:cover;
}