* {
	font-family: 'Open Sans';
}
a {
	color:black;
}
body {
	background: -webkit-radial-gradient(#0D545B, #16838C, #0D545B); /* Safari 5.1 to 6.0 */
	background: -o-radial-gradient(#0D545B, #16838C, #0D545B); /* For Opera 11.6 to 12.0 */
	background: -moz-radial-gradient(#0D545B, #16838C, #0D545B); /* For Firefox 3.6 to 15 */
	background: radial-gradient(#0D545B, #16838C, #0D545B); /* Standard syntax */
	background-repeat:no-repeat;
	background-size:contain;
	padding:0 !important;
}
.nav .open a {
	background-color:transparent !important;
}
.nav>li>a {
	background-color:transparent !important;
}
.nav>li>a:hover {
	background-color:transparent !important;
}
.level-2 img:hover {
	cursor: pointer;
}
#navbar {
	height:100px !important;
}
#navbar ul {
	margin-top:20px;
}
.next-button {
	padding: 10px 30px;
	font-size:20px;
	margin-top:20px;
}
#level-container {
	width:100%;
	margin-top:0;
}
#level-container #pre-level {
	position:absolute;
	width:800px;
	left:50%;
	margin-left:-400px;
	top:50px;
	opacity:1;
	text-align:center;
	z-index:99;
}
#level-container #pre-level img {
	width:100%;
	opacity:1;
}
#level-container #pre-level .btn {
	display:inline-block;
	margin:0 auto;
	margin-top:10px;
	padding:20px 30px;
	font-size:20px;
}
#level {
	opacity:0.2;
}
#level.level-last-scene {
	opacity:1;
}
#level .panel .panel-heading h1 {
	font-size:22px;
}
#level .panel .panel-heading h2 {
	font-size:18px;
}
#level .panel .panel-body{
	text-align:center; 	
}
#level .panel.level-2 .panel-body {
	
	max-height:500px;
	overflow-y:scroll;
}
#level .panel .panel-body input[type=password] {
	width:160px;
}
#level .panel .panel-body .progress {
	
	margin-top:10px;
	width:160px;
	margin-left:-webkit-calc(50% - 80px);
	margin-left:-moz-calc(50% - 80px);
}
.password-group {
	background-color:#F2F2F2;
	width: 100%;
	margin: 0 auto;
	padding:30px 30px;
}
.password-group-upper-text {
	width:500px;
	margin: 0 auto;
	text-align:left;
}
.username {
	color:white;
	font-size:20px;
}
span.caret {
	font-size:20px;
	color:white;
}
body {
  padding-top: 50px;
  height:100%;
}
.main-mid {
	width:800px;
	margin:0 auto;
}
.social-media {
	margin:0 auto;
	margin-top:150px;
}
.btn-social {
	vertical-align:middle;
	padding: 10px 20px;
	line-height:50px;
	font-size:20px;
	width:345px;
}
.btn-social i, .btn-social b {
	float:left;
}
.btn-social b {
	font-size:20px;
	margin-left:10px;
}
.btn-social i {
	margin-top:5px;
}
.main-mid .btn-facebook {
	float:left;
	margin-left:50px;
	background-color:#3C5A99;
}
.main-mid .btn-twitter {
	float:left;
	margin-left:10px;
	background-color:#6CADDF;
}
.main-aunt-container {
  padding: 40px 15px;
  text-align: center;
  margin-left:50%;
  margin-top:200px;
  position: relative;
}
.main-aunt-container img {
	width:1200px;
	height:600px;
}
#main-aunt {
	position:absolute;
	width:0px;
	height:0px;
}
.main-mid img {
	position:absolute;
	left:0;
	top:0;
}
h1 {
	font-size:70px;
}
h2 {
	font-size:40px;
}
.dropdown.open {
	background-color:transparent !important;
}
ul#mail-list .panel .mail-sender {
	float:left;
}
ul#mail-list .panel .mail-title {
	float:left;
	margin-left:10px;
}
ul#mail-list .btn {
	float:right;
}
.mark-as-spam {

}
.mark-as-safe {
	margin-right:10px;
}
.last-scene .panel-body h1 {
	font-size:40px;
}
.last-scene .panel-body p {
	margin-top:10px;
	font-size:30px;
}
.last-scene-social-media {
	margin:0 auto;
	width:420px;
}
.last-scene-social-media a {
	width:200px;
	margin:0 5px;
}